html {
    scroll-snap-type: y mandatory;
}
section {
    scroll-snap-align: start;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    scroll-snap-align: center;
    perspective: 500px;
  }

  section > div {
    position: relative;
    max-height: 100vh;
    margin: 20px;
    background: var(--white);
    overflow: hidden;
  }

  